$color-primary: #6246D1;
$color-primary-border: #CAC2EF;
$color-primary-background : #F4F3FB;
$color-secondary: #FE3437;
$color-default: #183652;

$header-height: 80px;

$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: $space-xs * 2; // 16
$space-md: $space-xs * 3; // 24
$space-lg: $space-xs * 4; // 32
$space-xl: $space-xs * 5; // 40
$space-xxl: $space-xs * 6; // 48
$space-xxxl: $space-xs * 7; // 56
$space-xxxxl: $space-xs * 8; // 64

$breakpoint-sm : 576px;
$breakpoint-md : 768px;
$breakpoint-lg : 992px;
$breakpoint-xl : 1200px;
$breakpoint-xxl : 1400px;

:export {
  colorPrimaryBorder: $color-primary-border;
  colorPrimary: $color-primary;
  colorPrimaryBackground: $color-primary-background;
  colorSecondary: $color-secondary;
  headerHeight: $header-height;
  spaceXS: $space-xs;
  spaceSM: $space-sm;
  spaceMD: $space-md;
  spaceXXL: $space-xxl;
  breakpointSM: $breakpoint-sm;
  breakpointMD: $breakpoint-md;

}
