@import "variables.module";
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
